# Summary of Analysis and Cleaning strategy 
- Review all Columns and null values 
- Change column names or lower case 
- Change column names from having '.' to '_' for easier read 
-

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# Reading in Dataset

In [2]:
# Read the data into a Pandas DataFrame
coffee_df = pd.read_csv('Resources/arabica_data_cleaned.csv')
coffee_df.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

# Exploring the coffee_df

In [3]:
# Get a brief summary of DataFrame.
coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1311 non-null   int64
 1   Species                1311 non-null   object
 2   Owner                  1304 non-null   object
 3   Country.of.Origin      1310 non-null   object
 4   Farm.Name              955 non-null    object
 5   Lot.Number             270 non-null    object
 6   Mill                   1001 non-null   object
 7   ICO.Number             1165 non-null   object
 8   Company                1102 non-null   object
 9   Altitude               1088 non-null   object
 10  Region                 1254 non-null   object
 11  Producer               1081 non-null   object
 12  Number.of.Bags         1311 non-null   int64
 13  Bag.Weight             1311 non-null   object
 14  In.Country.Partner     1311 non-null   object
 15  Harvest.Year           1264 non-null   object
 16  Grading.Date           1311 non-null   object
 17  Owner.1                1304 non-null   object
 18  Variety                1110 non-null   object
 19  Processing.Method      1159 non-null   object
 20  Aroma                  1311 non-null   float64
 21  Flavor                 1311 non-null   float64
 22  Aftertaste             1311 non-null   float64
 23  Acidity                1311 non-null   float64
 24  Body                   1311 non-null   float64
 25  Balance                1311 non-null   float64
 26  Uniformity             1311 non-null   float64
 27  Clean.Cup              1311 non-null   float64
 28  Sweetness              1311 non-null   float64
 29  Cupper.Points          1311 non-null   float64
 30  Total.Cup.Points       1311 non-null   float64
 31  Moisture               1311 non-null   float64
 32  Category.One.Defects   1311 non-null   int64
 33  Quakers                1310 non-null   float64
 34  Color                  1095 non-null   object
 35  Category.Two.Defects   1311 non-null   int64
 36  Expiration             1311 non-null   object
 37  Certification.Body     1311 non-null   object
 38  Certification.Address  1311 non-null   object
 39  Certification.Contact  1311 non-null   object
 40  unit_of_measurement    1311 non-null   object
 41  altitude_low_meters    1084 non-null   float64
 42  altitude_high_meters   1084 non-null   float64
 43  altitude_mean_meters   1084 non-null   float64
dtypes: float64(16), int64(4), object(24)
memory usage: 450.8+ KB

In [4]:
# Get the columns of the DataFrame 
coffee_df.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body',
       'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points',
       'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers',
       'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

# Refining column names 
- changing all column names to lower case 
- changing all '.' to '_' for easier read

In [5]:
# lower case all column names for ease of access 
coffee_df.columns = coffee_df.columns.str.lower()

# Replace all '.' to '_' for easier read 
coffee_df.columns = coffee_df.columns.str.replace('.','_')

# confirm all columns renamed
coffee_df.columns

C:\Users\admin\AppData\Local\Temp\ipykernel_18348\742622886.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  coffee_df.columns = coffee_df.columns.str.replace('.','_')

Index(['unnamed: 0', 'species', 'owner', 'country_of_origin', 'farm_name',
       'lot_number', 'mill', 'ico_number', 'company', 'altitude', 'region',
       'producer', 'number_of_bags', 'bag_weight', 'in_country_partner',
       'harvest_year', 'grading_date', 'owner_1', 'variety',
       'processing_method', 'aroma', 'flavor', 'aftertaste', 'acidity', 'body',
       'balance', 'uniformity', 'clean_cup', 'sweetness', 'cupper_points',
       'total_cup_points', 'moisture', 'category_one_defects', 'quakers',
       'color', 'category_two_defects', 'expiration', 'certification_body',
       'certification_address', 'certification_contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [6]:
# drop unnecessary columns 
coffee_df = coffee_df.drop(columns=['unnamed: 0', 'owner', 'lot_number', 'mill', 'uniformity', 'farm_name', 'producer', 'total_cup_points',  'cupper_points', 'ico_number', 'cupper_points', 'company', 'altitude', 'number_of_bags', 'bag_weight', 'in_country_partner', 'harvest_year', 'grading_date', 'owner_1', 'moisture', 'category_one_defects', 'quakers', 'color', 'category_two_defects', 'expiration', 'certification_body', 'certification_address', 'certification_contact', 'unit_of_measurement', 'altitude_mean_meters'])

In [7]:
# check columns
coffee_df.columns

Index(['species', 'country_of_origin', 'region', 'variety',
       'processing_method', 'aroma', 'flavor', 'aftertaste', 'acidity', 'body',
       'balance', 'clean_cup', 'sweetness', 'altitude_low_meters',
       'altitude_high_meters'],
      dtype='object')

In [8]:
# Change 'null values' from 'variety' column to 'unknown'
coffee_df['variety'] = coffee_df['variety'].fillna('Unknown')

In [9]:
# Delete null-values from altitude column(s)
coffee_df = coffee_df.dropna()

In [10]:
coffee_df

,species,country_of_origin,region,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,clean_cup,sweetness,altitude_low_meters,altitude_high_meters
0,Arabica,Ethiopia,guji-hambela,Unknown,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.00,1950.00,2200.00
1,Arabica,Ethiopia,guji-hambela,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.00,1950.00,2200.00
3,Arabica,Ethiopia,oromia,Unknown,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.00,1800.00,2200.00
4,Arabica,Ethiopia,guji-hambela,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.00,1950.00,2200.00
9,Arabica,Ethiopia,"snnp/kaffa zone,gimbowereda",Other,Natural / Dry,8.08,8.58,8.50,8.50,7.67,8.42,10.00,10.00,1795.00,1850.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,Arabica,Honduras,marcala,Catuai,Washed / Wet,7.00,6.33,6.17,6.50,6.67,6.17,8.00,8.00,1450.00,1450.00
1306,Arabica,Mexico,juchique de ferrer,Bourbon,Washed / Wet,7.08,6.83,6.25,7.42,7.25,6.75,0.00,10.00,900.00,900.00
1307,Arabica,Haiti,"department d'artibonite , haiti",Typica,Natural / Dry,6.75,6.58,6.42,6.67,7.08,6.67,6.00,6.00,350.00,350.00
1308,Arabica,Nicaragua,jalapa,Caturra,Other,7.25,6.58,6.33,6.25,6.42,6.08,6.00,6.00,1100.00,1100.00
1309,Arabica,Guatemala,nuevo oriente,Catuai,Washed / Wet,7.50,6.67,6.67,7.67,7.33,6.67,1.33,1.33,1417.32,1417.32

In [11]:
# Summary for numerical columns
print("Numerical Summary:\n")
print(coffee_df.describe())

Numerical Summary:

             aroma       flavor   aftertaste      acidity         body  \
count  1002.000000  1002.000000  1002.000000  1002.000000  1002.000000
mean      7.566806     7.513882     7.385679     7.526088     7.504531
std       0.300916     0.323882     0.331790     0.307696     0.272921
min       5.080000     6.170000     6.170000     5.250000     6.330000
25%       7.420000     7.330000     7.170000     7.330000     7.330000
50%       7.580000     7.500000     7.420000     7.500000     7.500000
75%       7.750000     7.670000     7.580000     7.670000     7.670000
max       8.750000     8.830000     8.670000     8.750000     8.500000

           balance    clean_cup    sweetness  altitude_low_meters  \
count  1002.000000  1002.000000  1002.000000          1002.000000
mean      7.499721     9.856866     9.931387          1799.213877
std       0.340405     0.739259     0.423847          9117.804902
min       6.080000     0.000000     1.330000             1.000000
25%       7.330000    10.000000    10.000000          1100.000000
50%       7.500000    10.000000    10.000000          1310.640000
75%       7.670000    10.000000    10.000000          1559.000000
max       8.580000    10.000000    10.000000        190164.000000

       altitude_high_meters
count           1002.000000
mean            1836.996488
std             9116.433836
min                1.000000
25%             1100.000000
50%             1318.500000
75%             1600.000000
max           190164.000000

# Data Cleaning - Try Removing unique values

In [12]:
# Create an empty dictionary to store unique values for each column
unique_values = {}

# Loop through the columns and find unique values
for column in coffee_df.columns:
    unique_values[column] = coffee_df[column].unique()

# Display unique values for each column
for column, values in unique_values.items():
    print(f'Column: {column}')
    print(values)
    print('\n')

Column: species
['Arabica']


Column: country_of_origin
['Ethiopia' 'United States' 'China' 'Costa Rica' 'Mexico' 'Brazil'
 'Uganda' 'Taiwan' 'Kenya' 'Thailand' 'Colombia' 'Panama' 'Guatemala'
 'Papua New Guinea' 'El Salvador' 'Indonesia'
 'Tanzania, United Republic Of' 'Honduras' 'Japan' 'Nicaragua' 'Ecuador'
 'United States (Puerto Rico)' 'Haiti' 'Burundi' 'Vietnam' 'Philippines'
 'Rwanda' 'Malawi' 'Laos' 'Zambia' 'Myanmar' 'Cote d?Ivoire' 'Peru']


Column: region
['guji-hambela' 'oromia' 'snnp/kaffa zone,gimbowereda' 'antioquia'
 'yunnan' 'gedio' 'san ramon' 'xalapa' 'south of minas'
 'kapchorwa eastern' 'leye, alishan township, chiayi county'
 'vale da grama' 'west and central valley' 'muranga' 'chiang rai'
 'natou county' 'nyeri' 'tolima' 'kiambu' 'sipi, mt elgon' 'eastern'
 'huila' 'boquete' 'acatenango' 'nuevo oriente'
 'eastern highlands province' 'apaneca'
 'ataco, apaneca - ilamatepec mountain range' 'kirinyaga'
 'bulambuli eastern region' 'huehuetenango' 'kapchorwa' 'west valley'
 'central kenya' 'santander' 'lintong' 'pasto' 'aricha' 'cundinamarca'
 'eastern uganda' 'tarrazu' 'veracruz' 'grama valley' 'mbeya' 'coatepec'
 'dongshan dist., tainan city 臺南市東山區' 'marcala' 'temanggung, indonesia'
 'ada okinawa japan' 'yirgacheffe' 'costa rica' 'taichung xinshe 台中市新社區'
 'oriente' 'el remudadero' 'mbale' 'jalapa' 'tres rios'
 'mountains of minas gerais' 'valle central' 'cauca' 'hustusco'
 'jaltenango' 'sumatra brastagi' 'mountain ali, taiwan' 'tapachula'
 'central region' 'tuxtla gutierrez' '國姓鄉 guoshing township'
 'chiang rai thailand' 'nariño' 'antigua' 'shizingo village'
 'san pedro cotzilnam' 'la concordia, chiapas' 'kasese' 'san marcos'
 'solola' 'norte' 'jinotega' 'cerrado'
 'snnprg; kafa; telo woreda; shada kebele' 'arusha' 'kenya'
 'minas gerais, br' 'mt. rwenzori' 'nanxi dist., tainan city 臺南市楠西區'
 'aldea xeucalvitz, ixil region, quiche department'
 'santo domingo cacalotepec' 'ethiopia, sidamo' 'sidamo' 'comayagua'
 'blend' 'chiangrai' 'leye, alishan township, chiayi county 嘉義阿里山樂野村'
 '台中和平區' 'xicotepec de juarez' 'la concordia' 'la yerbabuena'
 'central valley' 'province of manabi, ecuador' 'petatlan'
 'carmo de minas' '台南市東山區 (dongshan dist., tainan city)' 'west nile'
 'yauco region' 'huazalingo, hidalgo' 'quetzaltenango' 'meru county'
 'thailand' 'huila supremo' 'east java' 'sacatepequez, guatemala'
 'chiapas, jaltenango' 'pitalito' 'nkure- meru' 'bener meriah' 'atitlan'
 'chilón' 'totutla' 'karatu northern' 'chiapas' 'thiotte, haiti' 'kayanza'
 'sierra madre occidental' 'cuarenteño' '南投國姓' 'eje cafetero'
 'fortín de las flores' 'la plata' 'moshi' 'dala' 'dehong prefecture'
 'mbinga' 'kilimanjaro' 'tlanchinol, hidalgo' 'san bartolo tutotepec'
 'san isidro' 'mogiana' 'chiayi alishan 嘉義縣阿里山鄉' 'santa catarina juquila'
 'kasese, mt. rwenzori' 'vietnam cau dat' 'el tumbador, san marcos'
 'high mogiana' '嘉義阿里山' 'sul de minas' 'atoyac de alvarez'
 'la reforma, san marcos' 'guayata' 'blida,kercha,guji,oromia' '台東太麻里'
 'bukidnon, mindanao, philppines' 'asia pacific' 'don duong' 'la cumbre'
 'el balsamo, quezaltepec' 'gicumbi' 'vietnam tutra' 'berastagi'
 'santa rosa' 'sapan toraja' 'el progreso'
 '台南市東山區( dongshan dist., tainan city)' 'cacahuatique' 'menglian' 'mzuzu'
 'south huila' 'paksong,laos' 'karatu arusha' 'la yerba' 'mt elgon'
 'phahi' 'mahuixtlan' 'aceh' 'ikand village' 'oaxaca' 'colima' 'bali'
 'zapotitlan de mendez' 'comayagua, honduras' 'arusha meru'
 'zihuatanejo de azueta' 'progreso santa rosa teocelo' 'fln mirador'
 'xishuangbanna prefecture' 'changhua baguashan 彰化市八卦山'
 'jaltocan, hidalgo' 'brazil matas de minas' 'nantou' 'calnali, hidalgo'
 'juquila' 'canoas' 'ruvuma' 'northern' 'ilomba vilage, mbozi'
 'yunlin 雲林縣石壁' 'altotonga' 'aceh gayo' 'ngorogoro' 'turrialba'
 'el paraíso' 'guinope el paraíso' 'lao p.d.r.' 'meru' 'occidental'
 'coscomatepec' 'monte carmelo' 'mubuyu estate' 'chapulhuacan, hidalgo'
 'ywar ngan' 'lington nihuta' 'kakoma'
 'siltepec el triunfo, chiapas, mexico' 'vietnam'
 'tenango de doria, hidalgo' 'tepictla' 'yajalon'
 'sacún palma, municipio de chilón, chiapas' 'western region'
 'oldeani , mongola' '古坑鄉荷包村尖山坑60號' 'ywar ngan township' 'dondon, haiti'
 'amatenango de la frontera' 'temaxcalapa' 'manzanillo' 'ijen' '苗栗三灣'
 'san lucas toliman, solola' 'siltepec el triunfo' 'coatepec, coatepec'
 'mantiqueira de minas' 'davao city, region 11' 'matas de minas        '
 'dongshan dist., tainan city 台南市東山區' 'karatu ngorogoro' 'motozintla'
 'dipilto, nueva segovia' 'ruvuma, mbinga' 'corillera administrative'
 'southern- zomba' 'alta paulista (sao paulo)' 'central america'
 'iwala village, mbeya rural' 'naranjo' 'san fernando'
 'santo reyes nopala' 'santa maria sitepec' 'talpa de allende'
 'motozintla, chiapas' 'adolfo lopez mateos' 'taiwan' 'pyinoolwin'
 'manyara, karatu' '台中新社' 'matagalpa' 'taichung taiping 台中市太平區'
 'new taipei zhonghe 新北市中和區' 'ixhuatlan del cafe' 'orient'
 'siguatepeque, comayagua' 'haiti'
 'el desmoronado, talpan de allende jalisco' 'ocotepeque' 'pyin oo lwin'
 'zaragoza itundujia'
 'department of ahuachapan, municipality of apanecallamatepec mountain'
 'pochutla' 'mkuu rombo' 'cerrado - monte carmelo - minas gerais'
 'yauk sauk, shan state' 'chiayi fanlu嘉義縣番路鄉' '苗栗泰安'
 'yunlin gukeng he bao 雲林縣古坑鄉荷苞村' 'escuitla' 'doe kwin, pyin oo lwin'
 'sierra fraylesca, chiapas' 'san miguel del puerto'
 'taiwu township , pingtung county 屏東縣泰武鄉'
 'baihe dist., tainan city 臺南市白河區' 'brunca' 'tepetzingo'
 'cnra station of divo' 'pereira' 'zentla' 'occidente' 'tlacuilotepec'
 'intibuca' 'san ignacio' 'iliatenco, guerrero' 'ohuapan, tlaltetela'
 'yecuatla' 'cofradia de suchitlan' 'sierra, chiapas'
 'villa talea de castro' 'los angeles' 'xochitonalco, huautla        '
 'cordoba' 'indonesia' 'benguet, mountain province' 'ocosingo'
 'huautla de jimenez' 'chocaman, veracruz' 'sierra alta mixe y zapoteca'
 'tlatlauquitepec' 'sierra norte yajalon, chiapas' 'juchique de ferrer'
 "department d'artibonite , haiti"]


Column: variety
['Unknown' 'Other' 'Catimor' 'Ethiopian Yirgacheffe' 'Caturra' 'Bourbon'
 'SL14' 'Sumatra' 'SL34' 'SL28' 'Gesha' 'Catuai' 'Pacamara'
 'Sumatra Lintong' 'Typica' 'Mundo Novo' 'Java' 'Peaberry' 'Pacas'
 'Mandheling' 'Yellow Bourbon' 'Ruiru 11' 'Ethiopian Heirlooms'
 'Moka Peaberry' 'Arusha' 'Sulawesi' 'Marigojipe' 'Blue Mountain'
 'Pache Comun']


Column: processing_method
['Washed / Wet' 'Natural / Dry' 'Pulped natural / honey'
 'Semi-washed / Semi-pulped' 'Other']


Column: aroma
[8.67 8.75 8.17 8.25 8.08 8.   8.42 8.5  7.67 7.83 8.33 7.75 7.92 7.58
 7.42 7.33 7.5  7.25 7.17 7.08 5.08 6.92 7.   6.83 6.75 6.5  6.33 6.67]


Column: flavor
[8.83 8.67 8.58 8.5  8.42 8.25 8.17 8.33 8.   7.83 8.08 7.92 7.75 7.58
 7.67 7.5  7.42 7.33 7.25 7.08 7.   7.17 6.92 6.67 6.83 6.75 6.5  6.58
 6.33 6.42 6.17]


Column: aftertaste
[8.67 8.5  8.42 8.25 8.17 8.33 8.58 8.08 8.   7.92 7.83 7.75 7.67 7.58
 7.42 7.5  7.33 7.25 7.17 7.08 7.   6.83 6.92 6.75 6.58 6.67 6.33 6.5
 6.17 6.42 6.25]


Column: acidity
[8.75 8.58 8.42 8.5  8.33 8.17 8.   8.25 7.75 8.08 7.92 7.83 7.67 7.58
 7.42 7.17 7.5  7.25 7.33 7.08 6.92 5.25 7.   6.83 6.75 6.08 6.67 6.5
 6.25]


Column: body
[8.5  8.42 7.67 7.75 8.08 8.   8.17 7.92 8.25 7.83 7.58 7.5  7.33 7.42
 7.25 7.17 7.   7.08 8.33 6.75 6.83 6.92 6.67 6.33 6.5  6.42]


Column: balance
[8.42 8.25 8.33 8.17 8.08 8.   7.92 7.83 7.75 8.58 8.5  7.67 7.58 7.5
 7.33 7.42 7.17 7.25 6.83 7.08 7.   6.92 6.58 6.75 6.33 6.67 6.5  6.17
 6.08]


Column: clean_cup
[10.    9.33  6.67  8.67  8.    5.33  7.33  6.    2.67  0.    1.33]


Column: sweetness
[10.    9.33  8.67  6.67  8.    6.    1.33]


Column: altitude_low_meters
[1.9500000e+03 1.8000000e+03 1.7950000e+03 1.8550000e+03 1.8720000e+03
 1.9430000e+03 2.0800000e+03 1.4500000e+03 1.7000000e+03 2.0190000e+03
 1.3000000e+03 1.3200000e+03 2.1120000e+03 1.2500000e+03 1.2000000e+03
 1.7500000e+03 1.9410000e+03 1.0000000e+03 1.7540000e+03 9.0000000e+02
 1.5200000e+03 1.4000000e+03 1.6000000e+03 1.5240000e+03 1.4173200e+03
 1.5000000e+03 1.6800000e+03 1.9000000e+03 1.7068800e+03 1.7700000e+03
 1.5500000e+03 2.5600000e+03 2.1360000e+03 1.5800000e+03 1.1000000e+03
 8.0000000e+02 1.6200000e+03 3.5000000e+02 1.3500000e+03 1.7000000e+02
 1.1500000e+03 2.0000000e+03 1.3106400e+03 1.2192000e+03 4.4200000e+02
 1.0994136e+03 1.1700000e+03 1.1167872e+03 1.5650000e+03 3.2800000e+03
 1.8500000e+03 1.5450000e+03 1.5300000e+03 1.0000000e+00 8.9400000e+02
 9.6800000e+02 1.4800000e+03 1.6581120e+03 1.2600000e+03 1.6500000e+03
 8.9000000e+02 9.3400000e+02 9.5000000e+02 2.5270000e+03 4.8000000e+02
 1.2180000e+03 7.5000000e+02 8.5344000e+02 7.0000000e+02 1.3566648e+03
 1.1283696e+03 1.7990000e+03 9.4000000e+02 1.4020800e+03 4.3900000e+02
 1.3300000e+03 1.8130000e+03 1.2270000e+03 1.2801600e+03 1.8800000e+03
 2.1000000e+03 1.2610000e+03 1.4830000e+03 1.7500000e+02 1.9010000e+03
 1.6800000e+02 1.6530000e+03 5.3200000e+02 1.0890000e+03 1.3800000e+03
 9.0500000e+02 8.7200000e+02 1.4730000e+03 1.6450000e+03 1.3716000e+03
 7.7500000e+02 1.0590000e+03 1.1000000e+04 1.2480000e+03 1.0400000e+03
 1.5788640e+02 6.5000000e+02 1.4420000e+03 1.6500000e+02 1.2960000e+03
 1.2400000e+03 1.0500000e+03 1.3170000e+03 1.6790000e+03 2.2850000e+03
 1.5600000e+03 1.3960000e+03 9.8200000e+02 1.2680000e+03 1.6764000e+03
 2.0000000e+02 6.0000000e+02 4.4100000e+02 1.1800000e+03 1.3380000e+03
 5.3300000e+02 1.3908024e+03 1.1440000e+03 1.3000000e+01 9.4400000e+02
 2.5000000e+03 1.0200000e+03 1.8770000e+03 9.8100000e+02 6.9000000e+02
 9.7300000e+02 4.0010000e+03 1.5560000e+03 7.7400000e+02 1.5000000e+02
 1.9016400e+05 8.5000000e+02 1.6000000e+02 1.5990000e+03 4.0000000e+02
 1.2500000e+02 1.1000000e+02 1.4220000e+03 7.6300000e+02 6.8000000e+02
 1.0000000e+02 9.9000000e+02 6.9500000e+02 1.4560000e+03 1.6420000e+03
 7.5800000e+02 1.5250000e+03 1.0668000e+03 5.5000000e+02 6.8800000e+02
 3.0000000e+02 1.1860000e+03 1.2100000e+03 3.8250000e+03 1.1000000e+05
 1.8500000e+02 1.3837920e+03 5.0000000e+01 3.8000000e+03 1.8592800e+03
 9.9500000e+02 9.1440000e+02 4.2870000e+03 8.0800000e+02 2.5000000e+02
 3.8450000e+03 5.0000000e+02 1.0220000e+03 9.7500000e+02 1.2640000e+03
 1.2000000e+01 3.5000000e+03 1.2800000e+03 1.1400000e+03]


Column: altitude_high_meters
[2.2000000e+03 1.8500000e+03 1.9550000e+03 1.8720000e+03 1.9430000e+03
 2.0800000e+03 1.4500000e+03 2.0000000e+03 2.0190000e+03 1.3000000e+03
 1.3200000e+03 2.1120000e+03 1.2500000e+03 1.9500000e+03 1.2000000e+03
 1.8000000e+03 1.9410000e+03 1.0000000e+03 1.7540000e+03 1.5000000e+03
 1.9000000e+03 1.6000000e+03 1.5240000e+03 1.4173200e+03 1.7000000e+03
 1.4000000e+03 1.6800000e+03 1.7556480e+03 1.7700000e+03 1.5500000e+03
 2.5600000e+03 2.1360000e+03 1.5800000e+03 1.1000000e+03 8.0000000e+02
 1.6200000e+03 3.5000000e+02 1.3500000e+03 1.7000000e+02 1.1500000e+03
 1.7500000e+03 1.3106400e+03 1.2192000e+03 9.0000000e+02 4.4200000e+02
 1.0994136e+03 1.1700000e+03 1.1167872e+03 1.5650000e+03 3.2800000e+03
 1.6680000e+03 1.5300000e+03 5.0000000e+02 1.1830000e+03 9.6800000e+02
 1.4800000e+03 1.2600000e+03 1.6500000e+03 8.9000000e+02 9.3400000e+02
 9.5000000e+02 2.5270000e+03 1.0000000e+00 5.7000000e+02 1.7030000e+03
 1.2180000e+03 7.5000000e+02 8.5344000e+02 7.0000000e+02 1.3566648e+03
 1.1283696e+03 1.7990000e+03 9.4000000e+02 1.4020800e+03 4.3900000e+02
 1.3300000e+03 1.8130000e+03 1.2270000e+03 1.2801600e+03 1.8800000e+03
 2.1000000e+03 1.2610000e+03 1.4830000e+03 1.7500000e+02 1.9010000e+03
 1.6800000e+02 1.6530000e+03 5.3200000e+02 1.0890000e+03 1.3800000e+03
 9.0500000e+02 8.9400000e+02 8.7200000e+02 1.4730000e+03 1.6450000e+03
 1.3716000e+03 7.7500000e+02 1.0590000e+03 1.1000000e+04 1.2480000e+03
 1.0400000e+03 1.5788640e+02 6.5000000e+02 1.4420000e+03 1.6500000e+02
 1.2960000e+03 1.2400000e+03 1.0500000e+03 1.3170000e+03 1.6790000e+03
 2.2850000e+03 1.5600000e+03 1.3960000e+03 9.8200000e+02 1.2680000e+03
 1.6764000e+03 2.0000000e+02 6.0000000e+02 1.8288000e+03 4.4100000e+02
 1.1800000e+03 1.3380000e+03 5.3300000e+02 1.3908024e+03 1.1440000e+03
 1.3000000e+01 9.4400000e+02 2.5000000e+03 1.0200000e+03 1.8770000e+03
 9.8100000e+02 6.9000000e+02 9.7300000e+02 4.0010000e+03 1.5560000e+03
 7.7400000e+02 1.5000000e+02 1.9016400e+05 8.5000000e+02 1.5990000e+03
 1.2500000e+02 1.1000000e+02 1.4220000e+03 7.6300000e+02 6.8000000e+02
 6.9500000e+02 1.7068800e+03 1.4560000e+03 1.6420000e+03 7.5800000e+02
 1.5250000e+03 1.0668000e+03 5.5000000e+02 6.8800000e+02 3.0000000e+02
 1.1860000e+03 1.2100000e+03 1.0000000e+02 3.8250000e+03 1.1000000e+05
 1.8500000e+02 1.3837920e+03 5.0000000e+01 3.8000000e+03 1.8592800e+03
 9.9500000e+02 9.1440000e+02 4.2870000e+03 8.0800000e+02 1.2750000e+03
 2.5000000e+02 3.8450000e+03 1.0220000e+03 9.7500000e+02 1.2640000e+03
 1.2000000e+01 3.5000000e+03 1.2800000e+03 1.1400000e+03]

In [13]:
# remove text after / in 'processing_method' column
coffee_df['processing_method'] = coffee_df['processing_method'].str.split('/').str[0]

In [14]:
# change altitude_low_meters to int datatype
coffee_df['altitude_low_meters'] = coffee_df['altitude_low_meters'].astype(int)

In [15]:
# change altitude_high_meters to int datatype
coffee_df['altitude_high_meters'] = coffee_df['altitude_high_meters'].astype(int)

In [16]:
# Extract text between '/' and ','
#coffee_df['region'] = coffee_df['region'].apply(lambda x: re.search('/(.*?),', x).group(1) if re.search('/(.*?),', x) else None)

In [17]:
coffee_df

,species,country_of_origin,region,variety,processing_method,aroma,flavor,aftertaste,acidity,body,balance,clean_cup,sweetness,altitude_low_meters,altitude_high_meters
0,Arabica,Ethiopia,guji-hambela,Unknown,Washed,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.00,1950,2200
1,Arabica,Ethiopia,guji-hambela,Other,Washed,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.00,1950,2200
3,Arabica,Ethiopia,oromia,Unknown,Natural,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.00,1800,2200
4,Arabica,Ethiopia,guji-hambela,Other,Washed,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.00,1950,2200
9,Arabica,Ethiopia,"snnp/kaffa zone,gimbowereda",Other,Natural,8.08,8.58,8.50,8.50,7.67,8.42,10.00,10.00,1795,1850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,Arabica,Honduras,marcala,Catuai,Washed,7.00,6.33,6.17,6.50,6.67,6.17,8.00,8.00,1450,1450
1306,Arabica,Mexico,juchique de ferrer,Bourbon,Washed,7.08,6.83,6.25,7.42,7.25,6.75,0.00,10.00,900,900
1307,Arabica,Haiti,"department d'artibonite , haiti",Typica,Natural,6.75,6.58,6.42,6.67,7.08,6.67,6.00,6.00,350,350
1308,Arabica,Nicaragua,jalapa,Caturra,Other,7.25,6.58,6.33,6.25,6.42,6.08,6.00,6.00,1100,1100
1309,Arabica,Guatemala,nuevo oriente,Catuai,Washed,7.50,6.67,6.67,7.67,7.33,6.67,1.33,1.33,1417,1417