## This is the notebook for the new coffee.csv file we found.

Cleaning and exploration code below...

In [ ]:
#!pip install geopy

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.geocoders import Nominatim
import pycountry
import re
from sqlalchemy import create_engine, text

In [2]:
# Read the csv into a Pandas DataFrame
coffee_df = pd.read_csv('../Resources/coffee.csv', encoding='utf-8')
coffee_df.head()

,all_text,name,rating,roaster,slug,region_africa_arabia,region_caribbean,region_central_america,region_hawaii,region_asia_pacific,...,aroma,acid,body,flavor,aftertaste,with_milk,desc_1,desc_2,desc_3,desc_4
0,\n\n\n\n \n93\nFlight Coffee Co.\nEthiopia Der...,Ethiopia Deri Kochoha,93,Flight Coffee Co.,/review/ethiopia-deri-kochoha-2,1,0,0,0,0,...,9.0,8.0,9.0,9.0,8.0,NaN,"Bright, crisp, sweetly tart. Citrus medley, ca...",From the Deri Kochoha mill in the Hagere Marya...,A poised and melodic wet-processed Ethiopia co...,NaN
1,\n\n\n\n\n91\nDoi Chaang Coffee\nEspresso\nLoc...,Espresso,91,Doi Chaang Coffee,/review/espresso-14,0,0,0,0,1,...,8.0,NaN,8.0,8.0,8.0,9.0,"Evaluated as espresso. Deeply rich, sweetly ro...",Doi Chaang is a single-estate coffee produced ...,"A rich, resonant espresso from Thailand, espec...",NaN
2,\n\n\n\n \n95\nTemple Coffee and Tea\nKenya Ru...,Kenya Ruthaka Peaberry,95,Temple Coffee and Tea,/review/kenya-ruthaka-peaberry,1,0,0,0,0,...,9.0,8.0,9.0,10.0,8.0,NaN,"Deeply sweet, richly savory. Dark chocolate, p...",Despite challenges ranging from contested gove...,"A high-toned, nuanced Kenya cup, classic in it...",NaN
3,\n\n\n\n \n93\nTemple Coffee and Tea\nEthiopia...,Ethiopia Gora Kone Sidamo,93,Temple Coffee and Tea,/review/ethiopia-gora-kone-sidamo,1,0,0,0,0,...,9.0,8.0,9.0,9.0,8.0,NaN,"Fruit-forward, richly chocolaty. Raspberry cou...",Southern Ethiopia coffees like this one are la...,"A playful, unrestrained fruit bomb of a coffee...",NaN
4,\n\n\n\n\n93\nChoosy Gourmet\nSpecialty Coffee...,Specialty Coffee Blend Espresso,93,Choosy Gourmet,/review/specialty-coffee-blend-espresso,0,0,0,0,0,...,9.0,NaN,8.0,9.0,8.0,9.0,"Evaluated as espresso. Rich, chocolaty, sweetl...",A blend of coffees from Ethiopia (natural-proc...,An espresso blend in which spice notes — in pa...,NaN

In [3]:
# Get a brief summary of DataFrame
coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5124 entries, 0 to 5123
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   all_text                5124 non-null   object
 1   name                    5124 non-null   object
 2   rating                  5124 non-null   object
 3   roaster                 5124 non-null   object
 4   slug                    5124 non-null   object
 5   region_africa_arabia    5124 non-null   int64
 6   region_caribbean        5124 non-null   int64
 7   region_central_america  5124 non-null   int64
 8   region_hawaii           5124 non-null   int64
 9   region_asia_pacific     5124 non-null   int64
 10  region_south_america    5124 non-null   int64
 11  type_espresso           5124 non-null   int64
 12  type_organic            5124 non-null   int64
 13  type_fair_trade         5124 non-null   int64
 14  type_decaffeinated      5124 non-null   int64
 15  type_pod_capsule        5124 non-null   int64
 16  type_blend              5124 non-null   int64
 17  type_estate             5124 non-null   int64
 18  location                5122 non-null   object
 19  origin                  4529 non-null   object
 20  roast                   4696 non-null   object
 21  est_price               3014 non-null   object
 22  review_date             5124 non-null   object
 23  agtron                  5124 non-null   object
 24  aroma                   5085 non-null   float64
 25  acid                    4256 non-null   float64
 26  body                    5111 non-null   float64
 27  flavor                  5106 non-null   float64
 28  aftertaste              4111 non-null   float64
 29  with_milk               700 non-null    float64
 30  desc_1                  5124 non-null   object
 31  desc_2                  5124 non-null   object
 32  desc_3                  971 non-null    object
 33  desc_4                  4153 non-null   object
dtypes: float64(6), int64(13), object(15)
memory usage: 1.3+ MB

In [4]:
# drop unnecessary columns 
coffee_df = coffee_df.drop(columns=['all_text', 'est_price', 'review_date', 'agtron', 'location', 'with_milk', 'desc_3', 'desc_4'])

In [5]:
#coffee_df.head()

In [6]:
# Specify the columns to clean
columns_to_clean = ['roaster','desc_1', 'desc_2']

# Define a regular expression to match special characters
special_characters_pattern = r'[^a-zA-Z0-9\s,]'

# Clean each specified column
for column in columns_to_clean:
    coffee_df[column] = coffee_df[column].str.replace(special_characters_pattern, '', regex=True)

In [7]:
# Apply the lower method to all columns using applymap
coffee_df = coffee_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [8]:
# Replace hyphens with underscores in the specified column
coffee_df['roast'] = coffee_df['roast'].str.replace('-', '_')

In [9]:
coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5124 entries, 0 to 5123
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    5124 non-null   object
 1   rating                  5124 non-null   object
 2   roaster                 5124 non-null   object
 3   slug                    5124 non-null   object
 4   region_africa_arabia    5124 non-null   int64
 5   region_caribbean        5124 non-null   int64
 6   region_central_america  5124 non-null   int64
 7   region_hawaii           5124 non-null   int64
 8   region_asia_pacific     5124 non-null   int64
 9   region_south_america    5124 non-null   int64
 10  type_espresso           5124 non-null   int64
 11  type_organic            5124 non-null   int64
 12  type_fair_trade         5124 non-null   int64
 13  type_decaffeinated      5124 non-null   int64
 14  type_pod_capsule        5124 non-null   int64
 15  type_blend              5124 non-null   int64
 16  type_estate             5124 non-null   int64
 17  origin                  4529 non-null   object
 18  roast                   4696 non-null   object
 19  aroma                   5085 non-null   float64
 20  acid                    4256 non-null   float64
 21  body                    5111 non-null   float64
 22  flavor                  5106 non-null   float64
 23  aftertaste              4111 non-null   float64
 24  desc_1                  5124 non-null   object
 25  desc_2                  5124 non-null   object
dtypes: float64(5), int64(13), object(8)
memory usage: 1.0+ MB

### Work with the 'origin' column

In [10]:
coffee_df['origin'].value_counts()

not disclosed.                                    376
not disclosed                                     166
yirgacheffe growing region, southern ethiopia.    113
boquete growing region, western panama            109
yirgacheffe growing region, southern ethiopia      94
                                                 ...
la paz department, western bolivia.                 1
gakui, central kenya.                               1
colombia; brazil.                                   1
africa; central and south america.                  1
indonesia, central and south america                1
Name: origin, Length: 1446, dtype: int64

In [11]:
# Remove the dot at the end of string in new 'country_of_origin' column
coffee_df['origin'] = coffee_df['origin'].str.rstrip('.')
coffee_df['origin'].value_counts()

not disclosed                                                     542
yirgacheffe growing region, southern ethiopia                     207
south-central kenya                                               126
boquete growing region, western panama                            120
nyeri growing region, south-central kenya                          83
                                                                 ...
embu county, kenya                                                  1
el salvador; kenya                                                  1
gedeo zone, yirgacheffe growing region, south-central ethiopia      1
kenya; papua_new_guinea                                             1
java                                                                1
Name: origin, Length: 1271, dtype: int64

In [12]:
# Delete rows where country is listed as 'not disclosed'
coffee_df = coffee_df[coffee_df['origin'] != 'Not disclosed']
coffee_df = coffee_df[coffee_df['origin'] != 'Not Disclosed']

In [13]:
# Delete rows with NaN values
coffee_df = coffee_df.dropna(subset=['origin'])

In [14]:
# Specify the column with strings
columnName = 'origin'

# Create a new column to store the split result
newColumnName = 'country_of_origin'

# Function to split the last word and add it to a new column
def split_last_word_except_semicolon(text):
    if pd.isna(text):  # Check if the value is NaN
        return ''
    words = re.split(r'\s*;\s*|\s+', text)
    return words[-1]

# Apply the function to create a new column
coffee_df['country_of_origin'] = coffee_df['origin'].apply(split_last_word_except_semicolon)

# Print the updated DataFrame
coffee_df.head()

,name,rating,roaster,slug,region_africa_arabia,region_caribbean,region_central_america,region_hawaii,region_asia_pacific,region_south_america,...,origin,roast,aroma,acid,body,flavor,aftertaste,desc_1,desc_2,country_of_origin
0,ethiopia deri kochoha,93,flight coffee co,/review/ethiopia-deri-kochoha-2,1,0,0,0,0,0,...,"west guji zone, oromia region, southeastern et...",medium_light,9.0,8.0,9.0,9.0,8.0,"bright, crisp, sweetly tart citrus medley, cac...",from the deri kochoha mill in the hagere marya...,ethiopia
1,espresso,91,doi chaang coffee,/review/espresso-14,0,0,0,0,1,0,...,northern thailand,medium,8.0,NaN,8.0,8.0,8.0,"evaluated as espresso deeply rich, sweetly roa...",doi chaang is a singleestate coffee produced b...,thailand
2,kenya ruthaka peaberry,95,temple coffee and tea,/review/kenya-ruthaka-peaberry,1,0,0,0,0,0,...,"nyeri growing region, south-central kenya",medium,9.0,8.0,9.0,10.0,8.0,"deeply sweet, richly savory dark chocolate, pi...",despite challenges ranging from contested gove...,kenya
3,ethiopia gora kone sidamo,93,temple coffee and tea,/review/ethiopia-gora-kone-sidamo,1,0,0,0,0,0,...,"sidamo (also sidama) growing region, south-cen...",medium_light,9.0,8.0,9.0,9.0,8.0,"fruitforward, richly chocolaty raspberry couli...",southern ethiopia coffees like this one are la...,ethiopia
4,specialty coffee blend espresso,93,choosy gourmet,/review/specialty-coffee-blend-espresso,0,0,0,0,0,0,...,ethiopia; colombia; kenya,medium_light,9.0,NaN,8.0,9.0,8.0,"evaluated as espresso rich, chocolaty, sweetly...",a blend of coffees from ethiopia naturalproces...,kenya

In [45]:
coffee_df['country_of_origin']

0        ethiopia
1        thailand
2           kenya
3        ethiopia
4           kenya
          ...
5074    guatemala
5095      sumatra
5098        other
5114      america
5115     colombia
Name: country_of_origin, Length: 4509, dtype: object

In [16]:
# Change the datatype of the specified column to string
coffee_df['country_of_origin'] = coffee_df['country_of_origin'].astype(str)

# Create a function to identify instances of 'origin' where the value count is less than a certain number
def single_instances_grouped(instances, cutoff):
    instances_map = {}
    for i in range(len(instances)):
        if instances.values[i] >= cutoff:
            instances_map[instances.index[i]] = instances.index[i]
        else:
            instances_map[instances.index[i]] = 'other'
    return instances_map

origin_map = single_instances_grouped(coffee_df.country_of_origin.value_counts(), 12)
coffee_df['country_of_origin'] = coffee_df['country_of_origin'].map(origin_map)
coffee_df.country_of_origin.value_counts()

ethiopia                        743
disclosed                       545
kenya                           424
indonesia                       338
colombia                        334
guatemala                       272
panama                          221
costa_rica                      190
brazil                          168
salvador                        165
other                           137
hawaii                          112
rwanda                          101
nicaragua                        97
honduras                         72
papua_new_guinea                 63
burundi                          57
mexico                           55
america                          53
peru                             51
thailand                         49
bolivia                          43
tanzania                         40
india                            37
sumatra                          32
africa                           23
ecuador                          22
jamaica                          22
                                 20
yemen                            18
democratic_republic_of_congo     13
taiwan                           12
Name: country_of_origin, dtype: int64

In [17]:
# Drop the rows with blank values from the original DataFrame
rows_with_blank_values = coffee_df[coffee_df['country_of_origin'].isna() | (coffee_df['country_of_origin'] == '')]

if not rows_with_blank_values.empty:
    coffee_df.drop(rows_with_blank_values.index, inplace=True)

coffee_df.country_of_origin.value_counts()

ethiopia                        743
disclosed                       545
kenya                           424
indonesia                       338
colombia                        334
guatemala                       272
panama                          221
costa_rica                      190
brazil                          168
salvador                        165
other                           137
hawaii                          112
rwanda                          101
nicaragua                        97
honduras                         72
papua_new_guinea                 63
burundi                          57
mexico                           55
america                          53
peru                             51
thailand                         49
bolivia                          43
tanzania                         40
india                            37
sumatra                          32
africa                           23
ecuador                          22
jamaica                          22
yemen                            18
democratic_republic_of_congo     13
taiwan                           12
Name: country_of_origin, dtype: int64

In [18]:
coffee_df.country_of_origin.value_counts().sum()

4509

In [19]:
coffee_df = coffee_df.drop(columns='origin')

In [20]:
coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4509 entries, 0 to 5115
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    4509 non-null   object
 1   rating                  4509 non-null   object
 2   roaster                 4509 non-null   object
 3   slug                    4509 non-null   object
 4   region_africa_arabia    4509 non-null   int64
 5   region_caribbean        4509 non-null   int64
 6   region_central_america  4509 non-null   int64
 7   region_hawaii           4509 non-null   int64
 8   region_asia_pacific     4509 non-null   int64
 9   region_south_america    4509 non-null   int64
 10  type_espresso           4509 non-null   int64
 11  type_organic            4509 non-null   int64
 12  type_fair_trade         4509 non-null   int64
 13  type_decaffeinated      4509 non-null   int64
 14  type_pod_capsule        4509 non-null   int64
 15  type_blend              4509 non-null   int64
 16  type_estate             4509 non-null   int64
 17  roast                   4399 non-null   object
 18  aroma                   4475 non-null   float64
 19  acid                    3685 non-null   float64
 20  body                    4499 non-null   float64
 21  flavor                  4496 non-null   float64
 22  aftertaste              4091 non-null   float64
 23  desc_1                  4509 non-null   object
 24  desc_2                  4509 non-null   object
 25  country_of_origin       4509 non-null   object
dtypes: float64(5), int64(13), object(8)
memory usage: 951.1+ KB

In [21]:
# Reorder columns in the DataFrame
coffee_df = coffee_df[['slug', 'name', 'roaster', 'roast', 'country_of_origin', 'desc_1', 'desc_2', 'rating',
                       'aroma', 'acid', 'body', 'flavor', 'aftertaste', 
                       'region_africa_arabia', 'region_caribbean', 'region_central_america', 'region_hawaii', 'region_asia_pacific', 'region_south_america', 
                       'type_espresso', 'type_organic', 'type_fair_trade', 'type_decaffeinated', 'type_pod_capsule', 'type_blend', 'type_estate']]

In [22]:
coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4509 entries, 0 to 5115
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   slug                    4509 non-null   object
 1   name                    4509 non-null   object
 2   roaster                 4509 non-null   object
 3   roast                   4399 non-null   object
 4   country_of_origin       4509 non-null   object
 5   desc_1                  4509 non-null   object
 6   desc_2                  4509 non-null   object
 7   rating                  4509 non-null   object
 8   aroma                   4475 non-null   float64
 9   acid                    3685 non-null   float64
 10  body                    4499 non-null   float64
 11  flavor                  4496 non-null   float64
 12  aftertaste              4091 non-null   float64
 13  region_africa_arabia    4509 non-null   int64
 14  region_caribbean        4509 non-null   int64
 15  region_central_america  4509 non-null   int64
 16  region_hawaii           4509 non-null   int64
 17  region_asia_pacific     4509 non-null   int64
 18  region_south_america    4509 non-null   int64
 19  type_espresso           4509 non-null   int64
 20  type_organic            4509 non-null   int64
 21  type_fair_trade         4509 non-null   int64
 22  type_decaffeinated      4509 non-null   int64
 23  type_pod_capsule        4509 non-null   int64
 24  type_blend              4509 non-null   int64
 25  type_estate             4509 non-null   int64
dtypes: float64(5), int64(13), object(8)
memory usage: 951.1+ KB

In [23]:
# Create a DataFrame of the 'country_of_origin' column for cleaning
coffee_countries = coffee_df[['country_of_origin']].copy()
coffee_countries.head()

  country_of_origin
0          ethiopia
1          thailand
2             kenya
3          ethiopia
4             kenya

In [24]:
# Extract unique values from the 'Category' column
unique_categories = coffee_countries['country_of_origin'].unique()

# Create a new DataFrame with unique values
unique_df = pd.DataFrame({'country': unique_categories})

# Display the result
unique_df

                         country
0                       ethiopia
1                       thailand
2                          kenya
3                       honduras
4   democratic_republic_of_congo
5                         brazil
6                         panama
7                       colombia
8                      guatemala
9                      indonesia
10                      salvador
11                     disclosed
12                    costa_rica
13                        hawaii
14                         other
15                       burundi
16                       america
17                     nicaragua
18                         yemen
19                      tanzania
20                       sumatra
21                          peru
22                       ecuador
23                        rwanda
24                        taiwan
25                        mexico
26                        africa
27              papua_new_guinea
28                       bolivia
29                         india
30                       jamaica

In [55]:
def get_coordinates(country):
    try:
        country_obj = pycountry.countries.get(name=country)
        geolocator = Nominatim(user_agent="coffee_countries", timeout=20)
        location = geolocator.geocode(country_obj.name)
        return location.latitude, location.longitude
    except AttributeError:
        return None, None

In [56]:
unique_df[['latitude', 'longitude']] = unique_df['country'].apply(get_coordinates).apply(pd.Series)

In [57]:
unique_df

                         country   latitude   longitude
0                       ethiopia  10.211670   38.652120
1                       thailand  13.038762  101.700176
2                          kenya   1.441968   38.431398
3                       honduras  15.257243  -86.075514
4   democratic_republic_of_congo        NaN         NaN
5                         brazil -10.333333  -53.200000
6                         panama   8.559559  -81.130843
7                       colombia   4.099917  -72.908813
8                      guatemala  15.585555  -90.345759
9                      indonesia  -2.483383  117.890285
10                      salvador        NaN         NaN
11                     disclosed        NaN         NaN
12                    costa_rica        NaN         NaN
13                        hawaii        NaN         NaN
14                         other        NaN         NaN
15                       burundi  -3.426449   29.932452
16                       america        NaN         NaN
17                     nicaragua  12.609016  -85.293691
18                         yemen  16.347124   47.891527
19                      tanzania        NaN         NaN
20                       sumatra        NaN         NaN
21                          peru  -6.869970  -75.045851
22                       ecuador  -1.339767  -79.366697
23                        rwanda  -1.964663   30.064436
24                        taiwan        NaN         NaN
25                        mexico  19.432630  -99.133178
26                        africa        NaN         NaN
27              papua_new_guinea        NaN         NaN
28                       bolivia        NaN         NaN
29                         india  22.351115   78.667743
30                       jamaica  18.185051  -77.394769

In [43]:
list(pycountry.countries)

[Country(alpha_2='AW', alpha_3='ABW', flag='🇦🇼', name='Aruba', numeric='533'),
 Country(alpha_2='AF', alpha_3='AFG', flag='🇦🇫', name='Afghanistan', numeric='004', official_name='Islamic Republic of Afghanistan'),
 Country(alpha_2='AO', alpha_3='AGO', flag='🇦🇴', name='Angola', numeric='024', official_name='Republic of Angola'),
 Country(alpha_2='AI', alpha_3='AIA', flag='🇦🇮', name='Anguilla', numeric='660'),
 Country(alpha_2='AX', alpha_3='ALA', flag='🇦🇽', name='Åland Islands', numeric='248'),
 Country(alpha_2='AL', alpha_3='ALB', flag='🇦🇱', name='Albania', numeric='008', official_name='Republic of Albania'),
 Country(alpha_2='AD', alpha_3='AND', flag='🇦🇩', name='Andorra', numeric='020', official_name='Principality of Andorra'),
 Country(alpha_2='AE', alpha_3='ARE', flag='🇦🇪', name='United Arab Emirates', numeric='784'),
 Country(alpha_2='AR', alpha_3='ARG', flag='🇦🇷', name='Argentina', numeric='032', official_name='Argentine Republic'),
 Country(alpha_2='AM', alpha_3='ARM', flag='🇦🇲', name='Armenia', numeric='051', official_name='Republic of Armenia'),
 Country(alpha_2='AS', alpha_3='ASM', flag='🇦🇸', name='American Samoa', numeric='016'),
 Country(alpha_2='AQ', alpha_3='ATA', flag='🇦🇶', name='Antarctica', numeric='010'),
 Country(alpha_2='TF', alpha_3='ATF', flag='🇹🇫', name='French Southern Territories', numeric='260'),
 Country(alpha_2='AG', alpha_3='ATG', flag='🇦🇬', name='Antigua and Barbuda', numeric='028'),
 Country(alpha_2='AU', alpha_3='AUS', flag='🇦🇺', name='Australia', numeric='036'),
 Country(alpha_2='AT', alpha_3='AUT', flag='🇦🇹', name='Austria', numeric='040', official_name='Republic of Austria'),
 Country(alpha_2='AZ', alpha_3='AZE', flag='🇦🇿', name='Azerbaijan', numeric='031', official_name='Republic of Azerbaijan'),
 Country(alpha_2='BI', alpha_3='BDI', flag='🇧🇮', name='Burundi', numeric='108', official_name='Republic of Burundi'),
 Country(alpha_2='BE', alpha_3='BEL', flag='🇧🇪', name='Belgium', numeric='056', official_name='Kingdom of Belgium'),
 Country(alpha_2='BJ', alpha_3='BEN', flag='🇧🇯', name='Benin', numeric='204', official_name='Republic of Benin'),
 Country(alpha_2='BQ', alpha_3='BES', flag='🇧🇶', name='Bonaire, Sint Eustatius and Saba', numeric='535', official_name='Bonaire, Sint Eustatius and Saba'),
 Country(alpha_2='BF', alpha_3='BFA', flag='🇧🇫', name='Burkina Faso', numeric='854'),
 Country(alpha_2='BD', alpha_3='BGD', flag='🇧🇩', name='Bangladesh', numeric='050', official_name="People's Republic of Bangladesh"),
 Country(alpha_2='BG', alpha_3='BGR', flag='🇧🇬', name='Bulgaria', numeric='100', official_name='Republic of Bulgaria'),
 Country(alpha_2='BH', alpha_3='BHR', flag='🇧🇭', name='Bahrain', numeric='048', official_name='Kingdom of Bahrain'),
 Country(alpha_2='BS', alpha_3='BHS', flag='🇧🇸', name='Bahamas', numeric='044', official_name='Commonwealth of the Bahamas'),
 Country(alpha_2='BA', alpha_3='BIH', flag='🇧🇦', name='Bosnia and Herzegovina', numeric='070', official_name='Republic of Bosnia and Herzegovina'),
 Country(alpha_2='BL', alpha_3='BLM', flag='🇧🇱', name='Saint Barthélemy', numeric='652'),
 Country(alpha_2='BY', alpha_3='BLR', flag='🇧🇾', name='Belarus', numeric='112', official_name='Republic of Belarus'),
 Country(alpha_2='BZ', alpha_3='BLZ', flag='🇧🇿', name='Belize', numeric='084'),
 Country(alpha_2='BM', alpha_3='BMU', flag='🇧🇲', name='Bermuda', numeric='060'),
 Country(alpha_2='BO', alpha_3='BOL', common_name='Bolivia', flag='🇧🇴', name='Bolivia, Plurinational State of', numeric='068', official_name='Plurinational State of Bolivia'),
 Country(alpha_2='BR', alpha_3='BRA', flag='🇧🇷', name='Brazil', numeric='076', official_name='Federative Republic of Brazil'),
 Country(alpha_2='BB', alpha_3='BRB', flag='🇧🇧', name='Barbados', numeric='052'),
 Country(alpha_2='BN', alpha_3='BRN', flag='🇧🇳', name='Brunei Darussalam', numeric='096'),
 Country(alpha_2='BT', alpha_3='BTN', flag='🇧🇹', name='Bhutan', numeric='064', official_name='Kingdom of Bhutan'),
 Country(alpha_2='BV', alpha_3='BVT', flag='🇧🇻', name='Bouvet Island', numeric='074'),
 Country(alpha_2='BW', alpha_3='BWA', flag='🇧🇼', name='Botswana', numeric='072', official_name='Republic of Botswana'),
 Country(alpha_2='CF', alpha_3='CAF', flag='🇨🇫', name='Central African Republic', numeric='140'),
 Country(alpha_2='CA', alpha_3='CAN', flag='🇨🇦', name='Canada', numeric='124'),
 Country(alpha_2='CC', alpha_3='CCK', flag='🇨🇨', name='Cocos (Keeling) Islands', numeric='166'),
 Country(alpha_2='CH', alpha_3='CHE', flag='🇨🇭', name='Switzerland', numeric='756', official_name='Swiss Confederation'),
 Country(alpha_2='CL', alpha_3='CHL', flag='🇨🇱', name='Chile', numeric='152', official_name='Republic of Chile'),
 Country(alpha_2='CN', alpha_3='CHN', flag='🇨🇳', name='China', numeric='156', official_name="People's Republic of China"),
 Country(alpha_2='CI', alpha_3='CIV', flag='🇨🇮', name="Côte d'Ivoire", numeric='384', official_name="Republic of Côte d'Ivoire"),
 Country(alpha_2='CM', alpha_3='CMR', flag='🇨🇲', name='Cameroon', numeric='120', official_name='Republic of Cameroon'),
 Country(alpha_2='CD', alpha_3='COD', flag='🇨🇩', name='Congo, The Democratic Republic of the', numeric='180'),
 Country(alpha_2='CG', alpha_3='COG', flag='🇨🇬', name='Congo', numeric='178', official_name='Republic of the Congo'),
 Country(alpha_2='CK', alpha_3='COK', flag='🇨🇰', name='Cook Islands', numeric='184'),
 Country(alpha_2='CO', alpha_3='COL', flag='🇨🇴', name='Colombia', numeric='170', official_name='Republic of Colombia'),
 Country(alpha_2='KM', alpha_3='COM', flag='🇰🇲', name='Comoros', numeric='174', official_name='Union of the Comoros'),
 Country(alpha_2='CV', alpha_3='CPV', flag='🇨🇻', name='Cabo Verde', numeric='132', official_name='Republic of Cabo Verde'),
 Country(alpha_2='CR', alpha_3='CRI', flag='🇨🇷', name='Costa Rica', numeric='188', official_name='Republic of Costa Rica'),
 Country(alpha_2='CU', alpha_3='CUB', flag='🇨🇺', name='Cuba', numeric='192', official_name='Republic of Cuba'),
 Country(alpha_2='CW', alpha_3='CUW', flag='🇨🇼', name='Curaçao', numeric='531', official_name='Curaçao'),
 Country(alpha_2='CX', alpha_3='CXR', flag='🇨🇽', name='Christmas Island', numeric='162'),
 Country(alpha_2='KY', alpha_3='CYM', flag='🇰🇾', name='Cayman Islands', numeric='136'),
 Country(alpha_2='CY', alpha_3='CYP', flag='🇨🇾', name='Cyprus', numeric='196', official_name='Republic of Cyprus'),
 Country(alpha_2='CZ', alpha_3='CZE', flag='🇨🇿', name='Czechia', numeric='203', official_name='Czech Republic'),
 Country(alpha_2='DE', alpha_3='DEU', flag='🇩🇪', name='Germany', numeric='276', official_name='Federal Republic of Germany'),
 Country(alpha_2='DJ', alpha_3='DJI', flag='🇩🇯', name='Djibouti', numeric='262', official_name='Republic of Djibouti'),
 Country(alpha_2='DM', alpha_3='DMA', flag='🇩🇲', name='Dominica', numeric='212', official_name='Commonwealth of Dominica'),
 Country(alpha_2='DK', alpha_3='DNK', flag='🇩🇰', name='Denmark', numeric='208', official_name='Kingdom of Denmark'),
 Country(alpha_2='DO', alpha_3='DOM', flag='🇩🇴', name='Dominican Republic', numeric='214'),
 Country(alpha_2='DZ', alpha_3='DZA', flag='🇩🇿', name='Algeria', numeric='012', official_name="People's Democratic Republic of Algeria"),
 Country(alpha_2='EC', alpha_3='ECU', flag='🇪🇨', name='Ecuador', numeric='218', official_name='Republic of Ecuador'),
 Country(alpha_2='EG', alpha_3='EGY', flag='🇪🇬', name='Egypt', numeric='818', official_name='Arab Republic of Egypt'),
 Country(alpha_2='ER', alpha_3='ERI', flag='🇪🇷', name='Eritrea', numeric='232', official_name='the State of Eritrea'),
 Country(alpha_2='EH', alpha_3='ESH', flag='🇪🇭', name='Western Sahara', numeric='732'),
 Country(alpha_2='ES', alpha_3='ESP', flag='🇪🇸', name='Spain', numeric='724', official_name='Kingdom of Spain'),
 Country(alpha_2='EE', alpha_3='EST', flag='🇪🇪', name='Estonia', numeric='233', official_name='Republic of Estonia'),
 Country(alpha_2='ET', alpha_3='ETH', flag='🇪🇹', name='Ethiopia', numeric='231', official_name='Federal Democratic Republic of Ethiopia'),
 Country(alpha_2='FI', alpha_3='FIN', flag='🇫🇮', name='Finland', numeric='246', official_name='Republic of Finland'),
 Country(alpha_2='FJ', alpha_3='FJI', flag='🇫🇯', name='Fiji', numeric='242', official_name='Republic of Fiji'),
 Country(alpha_2='FK', alpha_3='FLK', flag='🇫🇰', name='Falkland Islands (Malvinas)', numeric='238'),
 Country(alpha_2='FR', alpha_3='FRA', flag='🇫🇷', name='France', numeric='250', official_name='French Republic'),
 Country(alpha_2='FO', alpha_3='FRO', flag='🇫🇴', name='Faroe Islands', numeric='234'),
 Country(alpha_2='FM', alpha_3='FSM', flag='🇫🇲', name='Micronesia, Federated States of', numeric='583', official_name='Federated States of Micronesia'),
 Country(alpha_2='GA', alpha_3='GAB', flag='🇬🇦', name='Gabon', numeric='266', official_name='Gabonese Republic'),
 Country(alpha_2='GB', alpha_3='GBR', flag='🇬🇧', name='United Kingdom', numeric='826', official_name='United Kingdom of Great Britain and Northern Ireland'),
 Country(alpha_2='GE', alpha_3='GEO', flag='🇬🇪', name='Georgia', numeric='268'),
 Country(alpha_2='GG', alpha_3='GGY', flag='🇬🇬', name='Guernsey', numeric='831'),
 Country(alpha_2='GH', alpha_3='GHA', flag='🇬🇭', name='Ghana', numeric='288', official_name='Republic of Ghana'),
 Country(alpha_2='GI', alpha_3='GIB', flag='🇬🇮', name='Gibraltar', numeric='292'),
 Country(alpha_2='GN', alpha_3='GIN', flag='🇬🇳', name='Guinea', numeric='324', official_name='Republic of Guinea'),
 Country(alpha_2='GP', alpha_3='GLP', flag='🇬🇵', name='Guadeloupe', numeric='312'),
 Country(alpha_2='GM', alpha_3='GMB', flag='🇬🇲', name='Gambia', numeric='270', official_name='Republic of the Gambia'),
 Country(alpha_2='GW', alpha_3='GNB', flag='🇬🇼', name='Guinea-Bissau', numeric='624', official_name='Republic of Guinea-Bissau'),
 Country(alpha_2='GQ', alpha_3='GNQ', flag='🇬🇶', name='Equatorial Guinea', numeric='226', official_name='Republic of Equatorial Guinea'),
 Country(alpha_2='GR', alpha_3='GRC', flag='🇬🇷', name='Greece', numeric='300', official_name='Hellenic Republic'),
 Country(alpha_2='GD', alpha_3='GRD', flag='🇬🇩', name='Grenada', numeric='308'),
 Country(alpha_2='GL', alpha_3='GRL', flag='🇬🇱', name='Greenland', numeric='304'),
 Country(alpha_2='GT', alpha_3='GTM', flag='🇬🇹', name='Guatemala', numeric='320', official_name='Republic of Guatemala'),
 Country(alpha_2='GF', alpha_3='GUF', flag='🇬🇫', name='French Guiana', numeric='254'),
 Country(alpha_2='GU', alpha_3='GUM', flag='🇬🇺', name='Guam', numeric='316'),
 Country(alpha_2='GY', alpha_3='GUY', flag='🇬🇾', name='Guyana', numeric='328', official_name='Republic of Guyana'),
 Country(alpha_2='HK', alpha_3='HKG', flag='🇭🇰', name='Hong Kong', numeric='344', official_name='Hong Kong Special Administrative Region of China'),
 Country(alpha_2='HM', alpha_3='HMD', flag='🇭🇲', name='Heard Island and McDonald Islands', numeric='334'),
 Country(alpha_2='HN', alpha_3='HND', flag='🇭🇳', name='Honduras', numeric='340', official_name='Republic of Honduras'),
 Country(alpha_2='HR', alpha_3='HRV', flag='🇭🇷', name='Croatia', numeric='191', official_name='Republic of Croatia'),
 Country(alpha_2='HT', alpha_3='HTI', flag='🇭🇹', name='Haiti', numeric='332', official_name='Republic of Haiti'),
 Country(alpha_2='HU', alpha_3='HUN', flag='🇭🇺', name='Hungary', numeric='348', official_name='Hungary'),
 Country(alpha_2='ID', alpha_3='IDN', flag='🇮🇩', name='Indonesia', numeric='360', official_name='Republic of Indonesia'),
 Country(alpha_2='IM', alpha_3='IMN', flag='🇮🇲', name='Isle of Man', numeric='833'),
 Country(alpha_2='IN', alpha_3='IND', flag='🇮🇳', name='India', numeric='356', official_name='Republic of India'),
 Country(alpha_2='IO', alpha_3='IOT', flag='🇮🇴', name='British Indian Ocean Territory', numeric='086'),
 Country(alpha_2='IE', alpha_3='IRL', flag='🇮🇪', name='Ireland', numeric='372'),
 Country(alpha_2='IR', alpha_3='IRN', common_name='Iran', flag='🇮🇷', name='Iran, Islamic Republic of', numeric='364', official_name='Islamic Republic of Iran'),
 Country(alpha_2='IQ', alpha_3='IRQ', flag='🇮🇶', name='Iraq', numeric='368', official_name='Republic of Iraq'),
 Country(alpha_2='IS', alpha_3='ISL', flag='🇮🇸', name='Iceland', numeric='352', official_name='Republic of Iceland'),
 Country(alpha_2='IL', alpha_3='ISR', flag='🇮🇱', name='Israel', numeric='376', official_name='State of Israel'),
 Country(alpha_2='IT', alpha_3='ITA', flag='🇮🇹', name='Italy', numeric='380', official_name='Italian Republic'),
 Country(alpha_2='JM', alpha_3='JAM', flag='🇯🇲', name='Jamaica', numeric='388'),
 Country(alpha_2='JE', alpha_3='JEY', flag='🇯🇪', name='Jersey', numeric='832'),
 Country(alpha_2='JO', alpha_3='JOR', flag='🇯🇴', name='Jordan', numeric='400', official_name='Hashemite Kingdom of Jordan'),
 Country(alpha_2='JP', alpha_3='JPN', flag='🇯🇵', name='Japan', numeric='392'),
 Country(alpha_2='KZ', alpha_3='KAZ', flag='🇰🇿', name='Kazakhstan', numeric='398', official_name='Republic of Kazakhstan'),
 Country(alpha_2='KE', alpha_3='KEN', flag='🇰🇪', name='Kenya', numeric='404', official_name='Republic of Kenya'),
 Country(alpha_2='KG', alpha_3='KGZ', flag='🇰🇬', name='Kyrgyzstan', numeric='417', official_name='Kyrgyz Republic'),
 Country(alpha_2='KH', alpha_3='KHM', flag='🇰🇭', name='Cambodia', numeric='116', official_name='Kingdom of Cambodia'),
 Country(alpha_2='KI', alpha_3='KIR', flag='🇰🇮', name='Kiribati', numeric='296', official_name='Republic of Kiribati'),
 Country(alpha_2='KN', alpha_3='KNA', flag='🇰🇳', name='Saint Kitts and Nevis', numeric='659'),
 Country(alpha_2='KR', alpha_3='KOR', common_name='South Korea', flag='🇰🇷', name='Korea, Republic of', numeric='410'),
 Country(alpha_2='KW', alpha_3='KWT', flag='🇰🇼', name='Kuwait', numeric='414', official_name='State of Kuwait'),
 Country(alpha_2='LA', alpha_3='LAO', common_name='Laos', flag='🇱🇦', name="Lao People's Democratic Republic", numeric='418'),
 Country(alpha_2='LB', alpha_3='LBN', flag='🇱🇧', name='Lebanon', numeric='422', official_name='Lebanese Republic'),
 Country(alpha_2='LR', alpha_3='LBR', flag='🇱🇷', name='Liberia', numeric='430', official_name='Republic of Liberia'),
 Country(alpha_2='LY', alpha_3='LBY', flag='🇱🇾', name='Libya', numeric='434', official_name='Libya'),
 Country(alpha_2='LC', alpha_3='LCA', flag='🇱🇨', name='Saint Lucia', numeric='662'),
 Country(alpha_2='LI', alpha_3='LIE', flag='🇱🇮', name='Liechtenstein', numeric='438', official_name='Principality of Liechtenstein'),
 Country(alpha_2='LK', alpha_3='LKA', flag='🇱🇰', name='Sri Lanka', numeric='144', official_name='Democratic Socialist Republic of Sri Lanka'),
 Country(alpha_2='LS', alpha_3='LSO', flag='🇱🇸', name='Lesotho', numeric='426', official_name='Kingdom of Lesotho'),
 Country(alpha_2='LT', alpha_3='LTU', flag='🇱🇹', name='Lithuania', numeric='440', official_name='Republic of Lithuania'),
 Country(alpha_2='LU', alpha_3='LUX', flag='🇱🇺', name='Luxembourg', numeric='442', official_name='Grand Duchy of Luxembourg'),
 Country(alpha_2='LV', alpha_3='LVA', flag='🇱🇻', name='Latvia', numeric='428', official_name='Republic of Latvia'),
 Country(alpha_2='MO', alpha_3='MAC', flag='🇲🇴', name='Macao', numeric='446', official_name='Macao Special Administrative Region of China'),
 Country(alpha_2='MF', alpha_3='MAF', flag='🇲🇫', name='Saint Martin (French part)', numeric='663'),
 Country(alpha_2='MA', alpha_3='MAR', flag='🇲🇦', name='Morocco', numeric='504', official_name='Kingdom of Morocco'),
 Country(alpha_2='MC', alpha_3='MCO', flag='🇲🇨', name='Monaco', numeric='492', official_name='Principality of Monaco'),
 Country(alpha_2='MD', alpha_3='MDA', common_name='Moldova', flag='🇲🇩', name='Moldova, Republic of', numeric='498', official_name='Republic of Moldova'),
 Country(alpha_2='MG', alpha_3='MDG', flag='🇲🇬', name='Madagascar', numeric='450', official_name='Republic of Madagascar'),
 Country(alpha_2='MV', alpha_3='MDV', flag='🇲🇻', name='Maldives', numeric='462', official_name='Republic of Maldives'),
 Country(alpha_2='MX', alpha_3='MEX', flag='🇲🇽', name='Mexico', numeric='484', official_name='United Mexican States'),
 Country(alpha_2='MH', alpha_3='MHL', flag='🇲🇭', name='Marshall Islands', numeric='584', official_name='Republic of the Marshall Islands'),
 Country(alpha_2='MK', alpha_3='MKD', flag='🇲🇰', name='North Macedonia', numeric='807', official_name='Republic of North Macedonia'),
 Country(alpha_2='ML', alpha_3='MLI', flag='🇲🇱', name='Mali', numeric='466', official_name='Republic of Mali'),
 Country(alpha_2='MT', alpha_3='MLT', flag='🇲🇹', name='Malta', numeric='470', official_name='Republic of Malta'),
 Country(alpha_2='MM', alpha_3='MMR', flag='🇲🇲', name='Myanmar', numeric='104', official_name='Republic of Myanmar'),
 Country(alpha_2='ME', alpha_3='MNE', flag='🇲🇪', name='Montenegro', numeric='499', official_name='Montenegro'),
 Country(alpha_2='MN', alpha_3='MNG', flag='🇲🇳', name='Mongolia', numeric='496'),
 Country(alpha_2='MP', alpha_3='MNP', flag='🇲🇵', name='Northern Mariana Islands', numeric='580', official_name='Commonwealth of the Northern Mariana Islands'),
 Country(alpha_2='MZ', alpha_3='MOZ', flag='🇲🇿', name='Mozambique', numeric='508', official_name='Republic of Mozambique'),
 Country(alpha_2='MR', alpha_3='MRT', flag='🇲🇷', name='Mauritania', numeric='478', official_name='Islamic Republic of Mauritania'),
 Country(alpha_2='MS', alpha_3='MSR', flag='🇲🇸', name='Montserrat', numeric='500'),
 Country(alpha_2='MQ', alpha_3='MTQ', flag='🇲🇶', name='Martinique', numeric='474'),
 Country(alpha_2='MU', alpha_3='MUS', flag='🇲🇺', name='Mauritius', numeric='480', official_name='Republic of Mauritius'),
 Country(alpha_2='MW', alpha_3='MWI', flag='🇲🇼', name='Malawi', numeric='454', official_name='Republic of Malawi'),
 Country(alpha_2='MY', alpha_3='MYS', flag='🇲🇾', name='Malaysia', numeric='458'),
 Country(alpha_2='YT', alpha_3='MYT', flag='🇾🇹', name='Mayotte', numeric='175'),
 Country(alpha_2='NA', alpha_3='NAM', flag='🇳🇦', name='Namibia', numeric='516', official_name='Republic of Namibia'),
 Country(alpha_2='NC', alpha_3='NCL', flag='🇳🇨', name='New Caledonia', numeric='540'),
 Country(alpha_2='NE', alpha_3='NER', flag='🇳🇪', name='Niger', numeric='562', official_name='Republic of the Niger'),
 Country(alpha_2='NF', alpha_3='NFK', flag='🇳🇫', name='Norfolk Island', numeric='574'),
 Country(alpha_2='NG', alpha_3='NGA', flag='🇳🇬', name='Nigeria', numeric='566', official_name='Federal Republic of Nigeria'),
 Country(alpha_2='NI', alpha_3='NIC', flag='🇳🇮', name='Nicaragua', numeric='558', official_name='Republic of Nicaragua'),
 Country(alpha_2='NU', alpha_3='NIU', flag='🇳🇺', name='Niue', numeric='570', official_name='Niue'),
 Country(alpha_2='NL', alpha_3='NLD', flag='🇳🇱', name='Netherlands', numeric='528', official_name='Kingdom of the Netherlands'),
 Country(alpha_2='NO', alpha_3='NOR', flag='🇳🇴', name='Norway', numeric='578', official_name='Kingdom of Norway'),
 Country(alpha_2='NP', alpha_3='NPL', flag='🇳🇵', name='Nepal', numeric='524', official_name='Federal Democratic Republic of Nepal'),
 Country(alpha_2='NR', alpha_3='NRU', flag='🇳🇷', name='Nauru', numeric='520', official_name='Republic of Nauru'),
 Country(alpha_2='NZ', alpha_3='NZL', flag='🇳🇿', name='New Zealand', numeric='554'),
 Country(alpha_2='OM', alpha_3='OMN', flag='🇴🇲', name='Oman', numeric='512', official_name='Sultanate of Oman'),
 Country(alpha_2='PK', alpha_3='PAK', flag='🇵🇰', name='Pakistan', numeric='586', official_name='Islamic Republic of Pakistan'),
 Country(alpha_2='PA', alpha_3='PAN', flag='🇵🇦', name='Panama', numeric='591', official_name='Republic of Panama'),
 Country(alpha_2='PN', alpha_3='PCN', flag='🇵🇳', name='Pitcairn', numeric='612'),
 Country(alpha_2='PE', alpha_3='PER', flag='🇵🇪', name='Peru', numeric='604', official_name='Republic of Peru'),
 Country(alpha_2='PH', alpha_3='PHL', flag='🇵🇭', name='Philippines', numeric='608', official_name='Republic of the Philippines'),
 Country(alpha_2='PW', alpha_3='PLW', flag='🇵🇼', name='Palau', numeric='585', official_name='Republic of Palau'),

In [ ]:
# # Function to get latitude and longitude
# def get_lat_lon(country_name):
#     geolocator = Nominatim(user_agent="my_geocoder")
    
#     try:
#         location = geolocator.geocode(country_name)
#         if location is not None:
#             return location.latitude, location.longitude
#         else:
#             return None, None
#     except Exception as e:
#         print(f"Error: {e}")
#         return None, None

# # Apply the function to the 'Country' column
# coffee_df[['Latitude', 'Longitude']] = coffee_df['country_of_origin'].apply(lambda x: pd.Series(get_lat_lon(x)))

# # Print the updated DataFrame
# coffee_df.head()

In [ ]:
# # Create lat and lon columns and use GeoFy library to extract the coordinates of each country

# def get_lat_lon_for_country(country_name):
#     geolocator = Nominatim(user_agent="country_locator")
#     location = geolocator.geocode(country_name)
    
#     if location:
#         return location.latitude, location.longitude
#     else:
#         return None

# # Create new columns for latitude and longitude
# coffee_df['latitude'] = None
# coffee_df['longitude'] = None

# # Iterate through rows and geocode each country
# for index, row in coffee_df.iterrows():
#     country_name = row['country_of_origin']  # Replace 'CountryColumnName' with the actual column name in your CSV
#     lat_lon = get_lat_lon_for_country(country_name)
    
#     if lat_lon:
#         coffee_df.at[index, 'latitude'] = lat_lon[0]
#         coffee_df.at[index, 'longitude'] = lat_lon[1]

# coffee_df.head()

In [ ]:
coffee_df.to_csv('../Resources/NEW_coffee_final.csv', index=False)

In [ ]:
engine = create_engine('sqlite:///Data_Engineering.db')

In [ ]:
# Drop the existing table and create a new one with the desired primary key
with engine.connect() as con:
    con.execute(text('''
        CREATE TABLE IF NOT EXISTS coffee_data (
            "slug" VARCHAR, 
            "name" VARCHAR, 
            "roaster" VARCHAR, 
            "roast" VARCHAR, 
            "country_of_origin" VARCHAR, 
            "desc_1" VARCHAR, 
            "desc_2" VARCHAR, 
            "rating" INTEGER,
            "aroma" FLOAT, 
            "acid" FLOAT, 
            "body" FLOAT, 
            "flavor" FLOAT, 
            "aftertaste" FLOAT,
            "region_africa_arabia" INTEGER, 
            "region_caribbean" INTEGER, 
            "region_central_america" INTEGER, 
            "region_hawaii" INTEGER, 
            "region_asia_pacific" INTEGER, 
            "region_south_america" INTEGER, 
            "type_espresso" INTEGER, 
            "type_organic" INTEGER, 
            "type_fair_trade" INTEGER, 
            "type_decaffeinated" INTEGER, 
            "type_pod_capsule" INTEGER, 
            "type_blend" INTEGER, 
            "type_estate" INTEGER,
            PRIMARY KEY ("slug")
        )
    '''))

# Output to the database 
coffee_df.to_sql(name='coffee_data', con=engine, if_exists='replace', index=False)

In [ ]:
# Use the engine to create a connection
with engine.connect() as con:
    # Use the connection to execute SQL queries
    row_count = con.execute(text('SELECT COUNT(*) FROM coffee_data')).scalar()

# Print the number of rows in the coffee_data table
print("Number of rows in coffee_data table:", row_count)